html {
  background-image: radial-gradient(rgb(90, 92, 93), white);
  font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
  }


  nav {
    display: flex;
    align-items: center;
    border: solid black;
    border-radius: 25px;
    background-image: radial-gradient(lightgray, gray) ;
    padding-right: 25px;
  }

  .navText{
  display:block;
  margin: 0 auto;
  font-weight: bolder;


  }

  nav ul > a {
    display: inline;
    border: thin solid black;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bolder;
    color: black;

  }

  nav ul > a:hover {
    background-color: black;
    color: white;
  }


  .contactSelectorBoxes {
    display:flex;
    align-items: center;
    flex-direction: column;
    }

    .contactSelectorBoxes > div {
      display: flex;
      border: thick solid black;
      border-radius: 25px;
      background-image: radial-gradient(lightgray, gray);
    }
    #appExplanation{
    width: 80vw;
    height: 30vh;
    margin: 30px;

    }
    #contactForm{
    width: 80vw;
    height: 30vh;
    margin: 30px;
    }
